@media screen and (max-width: 425px) {
    .nav-section {
        flex-direction: column;
        padding-bottom: 50%;
    }

    .nav-right {
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }

    .nav-left {
        margin: 50px auto;

    }

    .banner-container {
        flex-direction: column;
        width: 40%;
    }

}

.online-games-section figure .img-wrapper{
    flex-direction: column;
}



/* medium device/table */

@media screen and (min-width: 426px) and (max-width: 768px) {

    .nav-section,
    .banner-container,
    .position-container,
    .online-game-box {
        flex-direction: column;
    }

    .nav-left {
        flex-direction: column;
    }

    .online-game-box {
        width: 35%;
        margin-left: 50px;
    }

    .online-game-container {
        text-align: center;
    }

    .position-img {
        width: 28%;
    }

    .game-description {
        color: red;
    }

    .cercle-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}